/* Core HTML and body styles */
html,
body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  text-align: justify;
  overflow: hidden; /* Prevent scrolling */
  position: fixed;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}

/* Basic typography styles */
h1,
h2 {
  font-size: clamp(1.2rem, 3vmin, 1.5rem);
  margin-bottom: 0.5rem;
  text-align: center;
}

p {
  font-size: clamp(0.875rem, 2vmin, 1rem);
  margin-bottom: 0.5rem;
  text-align: justify;
}

/* Basic animations */
.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
